
.odd{
    background-color: #FFB3C6;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}
#two{
    color: #67A3D9;
    font-size: 36px;
}
#three{
    font-size: 24px;
}
#four{
    background-color: #83C760;
    font-size: 24px;
    font-weight: bold;
}